# Need to install the Exodriver and then this module direct from the LabJack
# GitHub sites.  See Evernote notes.
# LabJackPython==4-24-2014
# Install pandas and numpy via sudo apt install python3-pandas

minimalmodbus
pyasn1              # might be used for SNMP
pyserial
pysnmp
requests
paho-mqtt>=1.3.0
Adafruit-GPIO
Adafruit-MCP3008
Adafruit-PureIO
adafruit-blinka
adafruit-circuitpython-ads1x15
psutil
pymodbus
