#!/bin/sh
#
# rc.local.site
#
# This script is executed after rc.local runs.  Enter
# site specific commands or script starts here.

# From here on, do NOT exit the script if any errors occur
# (this may already be the case, since I removed the "-e" option from
# the shebang line above).
set +e
